<div class="image-container">
  <h4>{{@title}}</h4>
  <div class="image-wrapper">
    <div class="image-preview" style="background-color: {{if this.imagePreview '#909090' 'rgba(255, 100, 100, 0.2)'}};">
      {{#if this.imagePreview}}
        <img src="{{this.imagePreview}}" alt="{{@title}} Image" class="image-preview__img">
      {{else}}
        <div class="image-preview__placeholder">No image uploaded.</div>
      {{/if}}
      <button class="btn no-text btn-icon btn-default image-upload-btn" title="Upload Image" type="button" {{on "click" this.triggerFileUpload}}>
        <svg class="fa d-icon d-icon-far-image svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#far-image"></use></svg>
      </button>
      <input type="file" id="{{@inputId}}" accept="image/*" class="hidden-upload-field" {{on "change" this.handleImageUpload}}>
      <div class="image-upload-controls">
        <button class="btn btn-danger no-text btn-icon" title="Delete" type="button" {{on "click" this.deleteImage}}>
          <svg class="fa d-icon d-icon-trash-can svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#trash-can"></use></svg>
        </button>
      </div>
    </div>
  </div>
</div>
