<h1>Project Uniform Settings</h1>

<h2>Uniforms</h2>
<div class="image-row-container">
  {{#each this.uniforms as |uniform|}}
    <ImageContainer 
      @title={{uniform.name}} 
      @imageKey={{uniform.key}} 
      @inputId="image-upload-{{uniform.key}}"
      @initialPreview={{get this.imagePreviews uniform.key}}
      @onFileUpload={{this.handleFileUpload}}
      @onDeleteImage={{this.deleteImage}}
    />
  {{/each}}
</div>

<h2>Cap Badges</h2>
<div class="image-row-container">
  {{#each this.capBadges as |badge|}}
    <ImageContainer 
      @title={{badge.name}} 
      @imageKey={{badge.key}} 
      @inputId="image-upload-{{badge.key}}"
      @initialPreview={{get this.imagePreviews badge.key}}
      @onFileUpload={{this.handleFileUpload}}
      @onDeleteImage={{this.deleteImage}}
    />
  {{/each}}
</div>

<h2>Ranks - British Army</h2>
<div class="image-row-container">
  {{#each this.britishArmyRanks as |rank|}}
    <ImageContainer 
      @title={{rank.name}} 
      @imageKey={{rank.key}} 
      @inputId="image-upload-{{rank.key}}"
      @initialPreview={{get this.imagePreviews rank.key}}
      @onFileUpload={{this.handleFileUpload}}
      @onDeleteImage={{this.deleteImage}}
    />
  {{/each}}
</div>

<h2>Ranks - Royal Air Force</h2>
<div class="image-row-container">
  {{#each this.rafRanks as |rank|}}
    <ImageContainer 
      @title={{rank.name}} 
      @imageKey={{rank.key}} 
      @inputId="image-upload-{{rank.key}}"
      @initialPreview={{get this.imagePreviews rank.key}}
      @onFileUpload={{this.handleFileUpload}}
      @onDeleteImage={{this.deleteImage}}
    />
  {{/each}}
</div>
